<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="coll_1">
      <table>
        <tr>
          <th>
           Ssn
          </th>
          <th>
            Reg dev
          </th>
          <th>
            Minp
          </th>
          <th>
            Maxp
          </th>
          <th>
            Cirr
          </th>
          <th>
            Bre
          </th>
          <th>
            Temp
          </th>
          <th>
            Date
          </th>
          <th>
            Edit
          </th>
          <th>
            Reading
          </th>
        </tr>
        <tr>
          <td>
            <input placeholder="ssn" [(ngModel)]="readingtoinsert.cf">
          </td>
          <td>
            <input placeholder="rd" [(ngModel)]="readingtoinsert.rd">
          </td>
          <td>
            <input placeholder="minp" [(ngModel)]="readingtoinsert.mp">
          </td>
          <td>
            <input placeholder="maxp" [(ngModel)]="readingtoinsert.mpr">
          </td>
          <td>
            <input placeholder="cir" [(ngModel)]="readingtoinsert.cir">
          </td>
          <td>
            <input placeholder="bre" [(ngModel)]="readingtoinsert.bre">
          </td>
          <td>
            <input placeholder="temp" [(ngModel)]="readingtoinsert.temp">
          </td>
          <td>
            <input placeholder="dh" [(ngModel)]="readingtoinsert.dh">
          </td>
          <td>
            <button (click)="insert(readingtoinsert)">Insert</button>
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let reading of readings">
          <td>
            <input [(ngModel)]="reading.cf">
          </td>
          <td>
            <input [(ngModel)]="reading.rd">
          </td>
          <td>
            <input [(ngModel)]="reading.mp">
          </td>
          <td>
            <input [(ngModel)]="reading.mpr">
          </td>
          <td>
            <input [(ngModel)]="reading.cir">
          </td>
          <td>
            <input [(ngModel)]="reading.bre">
          </td>
          <td>
            <input [(ngModel)]="reading.temp">
          </td>
          <td>
            <input [(ngModel)]="reading.dh">
          </td>
          <td>
            <button (click)="delete(reading)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>