<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="coll_1">
      <table>
        <tr>
          <th>
            Username
          </th>
          <th>
            Password
          </th>
          <th>
            Usertype
          </th>
          <th>
            Edit
          </th>
          <th>
            User
          </th>
        </tr>
        <tr>
          <td>
            <input placeholder="username" [(ngModel)]="usertoinsert.username">
          </td>
          <td>
            <input placeholder="password" [(ngModel)]="usertoinsert.password">
          </td>
          <td>
            <select placeholder="usertype" [(ngModel)]="usertoinsert.usertype">
              <option value="ADMIN">ADMIN</option>
              <option value="TUTOR">TUTOR</option>
              <option value="DOCTOR">DOCTOR</option>
              <option value="DEVICE">DEVICE</option>
            </select>
          </td>
          <td>
            <button (click)="insert(usertoinsert)">Insert</button>
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let user of users">
          <td>
            <input [(ngModel)]="user.username">
          </td>
          <td>
            <input [(ngModel)]="user.password">
          </td>
          <td>
            <select [(ngModel)]="user.usertype">
              <option [selected]="user.usertype===ADMIN" value="ADMIN">ADMIN</option>
              <option [selected]="user.usertype===TUTOR" value="TUTOR">TUTOR</option>
              <option [selected]="user.usertype===DOCTOR" value="DOCTOR">DOCTOR</option>
              <option [selected]="user.usertype===DEVICE" value="DEVICE">DEVICE</option>
            </select>
          </td>
          <td>
            <button (click)=update(user)>Update</button>
          </td>
          <td>
            <button (click)="deleteU(user)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>