<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="coll_1">
      <table>
        <tr>
          <th>
           Type
          </th>
          <th>
            Des
          </th>
          <th>
            mp
          </th>
          <th>
            Mpr
          </th>
          <th>
            mc
          </th>
          <th>
            Mci
          </th>
          <th>
            mb
          </th>
          <th>
            Mbr
          </th>
          <th>
            mt
          </th>
          <th>
            Mte
          </th>
          <th>
            Edit
          </th>
        </tr>
        <tr *ngFor="let device of devices">
          <td>
            <input [(ngModel)]="device.devtype">
          </td>
          <td>
            <input [(ngModel)]="device.descr">
          </td>
          <td>
            <input [(ngModel)]="device.mp">
          </td>
          <td>
            <input [(ngModel)]="device.mpr">
          </td>
          <td>
            <input [(ngModel)]="device.mc">
          </td>
          <td>
            <input [(ngModel)]="device.mci">
          </td>
          <td>
            <input [(ngModel)]="device.mb">
          </td>
          <td>
            <input [(ngModel)]="device.mbr">
          </td>
          <td>
            <input [(ngModel)]="device.mt">
          </td>
          <td>
            <input [(ngModel)]="device.mte">
          </td>
          <td>
            <button (click)=update(device)>Update</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>